/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*
reset css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    /* line-height: 24px; */
    font-size:15px;
    color:#999;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
web page css
*/

.header{
    height:79px;
    position:absolute;
    width:100%;
}

.container{
    width:1200px;
    margin:0 auto;
}

.header-logo{
    float:left;
}

.header-right{
    float:right;
}

.gnb{
    float:left;
    margin-right:52px;
}

.util{
    float:left;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.header-logo-link{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    font-weight:700;
}

.gnb-list-item{
    float:left;
    margin-left:58px;
}

.gnb-list-link{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:#fff;
    text-decoration:none;
}

.gnb-list-link:hover{
    color:#fce38a;
    border-bottom:3px solid #fce38a;
    padding-bottom:8px;
}

/* 이미지 표현 방법 : img 태그, background-image 속성 */

.util-list-link.cart{
    display:block;
    width:18px;
    height:15px;
    background:url(../images/icon_cart.png) no-repeat 0 0;
    text-indent:-99999px;
    margin-top:30px;
}

.util-list-link.search{
    display:block;
    width:18px;
    height:18px;
    background:url(../images/icon_search.png) no-repeat 0 0;
    text-indent:-99999px;
    margin-top:29px;
}

.util-list-item{
    float:left;
}

.util-list-item:nth-child(1){
    margin-right:42px;
}

.header-logo,
.gnb-list-item,
.util-list-item{
    height:79px;
    line-height:79px;
}

.contents1{
    height:1000px;
    background:url(../images/contents1_bg.png) no-repeat 0 0;
    padding-top:211px;
    box-sizing:border-box;
}

.align-center{
    text-align:center;
}

.slogan1{
    font-family: 'Kaushan Script', cursive;
    font-size:72px;
    color:#fff;
}

.slogan2{
    font-family: 'Montserrat', sans-serif;
    font-size:150px;
    line-height:140px;
    color:#fff;
    font-weight:700;
    margin-top:28px;
}

.slogan2:after{
    content:"";
    display:inline-block;
    width:60px;
    height:3px;
    background:#fff;
    /* margin-bottom:64px; */
    position:relative;
    top:-64px;
}

.btn-more{
    position:relative;
    top:-31px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight:700;
    width:160px;
    height:40px;
    border:3px solid #fff;
    background:rgba(0,0,0,0);
    color:#fff;
}

.section-list{
    margin-top:126px;
}

.section-list-item{
    width:279px;
    border-top:3px solid #fff;
    padding-top:20px;
    float:left;
    opacity:0.6;
    margin-right:28px;
}

.section-list-item:last-child{
    margin-right:0;
}

.section-list-item.active{
    opacity:1;
    position:relative;
}

.section-list-item.active:before{
    content:"";
    display:block;
    width:70px;
    height:3px;
    background:#f38181;
    position:absolute;
    top:-3px;
}

.item-number{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:23px;
    color:#fff;
}

.item-name{
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    color:#fff;
}

.contents2{
    /* height:1190px; */
}

.section-heading-group{
    height:270px;
}

.gallery{
    position:relative;
}

.gallery-image{
    display:block;
    float:left;
    width:25%;
}

.gallery-image:nth-child(5){
    position:absolute;
    left:0;
    bottom:0;
}

.gallery-image:nth-child(6){
    position:absolute;
    left:25%;
    bottom:0;
}

.gallery-image:nth-child(7){
    position:absolute;
    left:75%;
    bottom:0;
}

.blog-image-group{
    position:relative;
}

.blog-image-date{
    width:60px;
    height:70px;
    background:#95e1d3;
    color:#fff;
    text-align:center;
    padding-top:6px;
    box-sizing:border-box;
    position:absolute;
    bottom:10px;
    left:-10px;
}

.date-day{
    display:block;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:30px;
}

.date-month{
    display:block;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-style:italic;
    font-size:15px;
}

.blog-text-title{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:#333;
    text-transform:uppercase;
    font-weight:600;
    margin-top:15px;
}

.blog-text-description{
    font-size:15px;
    color:#999;
    line-height:24px;
    margin:12px 0;
}

.blog-icon-group{
    border-top:1px solid #e5e5e5;
    padding-top:15px;
}

.blog-icon-view-number,
.blog-icon-reply-number{
    font-size:15px;
    line-height:24px;
    color:#999;
    font-style:italic;
    font-weight:300;
}

.blog-icon-view,
.blog-icon-reply{
    display:inline-block;
}

.blog-icon-reply-image{
    position:relative;
    top:2px;
}

.blog-icon-view{
    margin-right:16px;
}

.contents3-1{
    width:380px;
    float:left;
}

.contents3-1:nth-child(2){
    margin:0 30px;
}

.blog-image{
    display:block;
}

.contents3{
    height:800px;
}

.contents3 div{

}