/*
reset css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    line-height: 1;
    font-size:14px;
    color:#86878b;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
web page css
*/

.header{
    height:70px;
    background-color:#000;
    /* #aabbff -> #abf; */
}

.container{
    width:1100px;
    margin:0 auto;
    /* 값을 2개 : 상하, 좌우 */
    /* 좌우 margin : auto => 좌우 margin을 똑같은 크기로 */
}

.header-logo{
    float:left;
    margin-top:21px;
}

.gnb{
    float:right;
}

.container:after{
    content:"";
    display:block;
    clear:both;
}

.gnb{
    margin-top:29px;
}

.gnb-list{

}

.gnb-list:after{
    content:"";
    display:block;
    clear:both;
}

.gnb-list-item{
    float:left;
    margin-left:48px;
}

.gnb-list-link{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

.contents1{
    height:640px;
    background:url(../images/main_bg.png) no-repeat 0 0;
    background-size:cover;
    /* px, cover(영역을 채워줌), contain(이미지를 영역에 넣어줌) */
    padding-top:110px;
}

.slogan{
    
}

.slogan-logo{
    margin-bottom:23px;
}

.slogan-paragraph-big{
    font-family: 'Raleway', sans-serif;
    font-size:36px;
    color:#fff;
    line-height:normal;
}

.slogan-paragraph-big:after{
    content:"";
    display:block;
    width:64px;
    height:2px;
    background:#fff;
    margin-top: 32px;
    margin-bottom: 35px;
}

.slogan-paragraph-small{
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:16px;
    line-height:23px;
    color:#fff;
}

.slogan-download{
    width:135px;
    height:42px;
    border:2px solid #f5f5f5;
    background:rgba(0,0,0,0);
    font-weight:600;
    font-size:15px;
    color:#fff;
    margin-top:41px;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.contents2{
    height:105px;
    box-shadow:0px 1px 2px #d3d3d3;
    border-bottom:1px solid #b7b7b7;
}

.contents2-1{
    float:left;
    margin-top:20px; /* 요소에 float이 적용되어 있는 경우 마진 겹칩 발생 되지 않음 */
}

.contents2-2{
    float:right;
    margin-top:29px;
}

.contents-heading{
    font-size:20px;
    font-weight:700;
    color:#212121;
}

.contents-heading.type01{
    margin-bottom:5px;
}

.contents-heading.type02{
    margin-top:6px;
    margin-bottom:47px;
}

.contents-paragraph{
    line-height:20px;
}



.contents3{
    background:#f5f5f5;
    height:590px;
    padding-top:146px;
    box-sizing:border-box;
}

.contents3-1{
    float:left;
}

.tab{
    width:110px;
    height:110px;
    font-size:15px;
    font-weight:700;
    border:1px solid #dbdbdb;
    color:#fff;
    text-align:center;
    padding-top:48px;
    box-sizing:border-box;
    
}

.tab1{
    background:#ff8b38;
    border-bottom:0;
    border-radius:5px 5px 0 0;
}

.tab2{
    background:#333;
}

.tab3{
    background:#333;
    border-top:0;
    border-radius:0 0 5px 5px;
}


.contents3-2{
    float:left;
    margin-left:101px;
}
.contents3-3{
    float:right;
}

.tab-download{
    width:119px;
    height:44px;
    border:0;
    background:#ff8b38;
    color:#fff;
    border-radius:3px;
    font-size:15px;
    font-weight:600;
    margin-top:46px;
}

.contents4{
    padding-top:105px;
    height:596px;
    box-sizing:border-box;
}

.contents4-1{
    float:left;
    margin-top:6px;
}

.contents4-1-image{
    margin-left:-36px;
}

.contents4-2{
    float:right;
    width:453px;
}

.contents-heading.type03:after{
    content:"";
    display:block;
    width:64px;
    height:2px;
    background:#ff8b38;
    margin-top:27px;
    margin-bottom:25px;
}

.contents4-2-sub-image{
    float:left;
}

.contents4-2-sub-text{
    float:left;
    margin-left:30px;
}

.contents-sub-heading{
    color:#212121;
    font-weight:600;
    line-height:17px;
}

.contents4-2-sub.contents-margin{
    margin-top:44px;
    margin-bottom:34px;
}

.contents5{
    padding-top:105px;
    height:524px;
    box-sizing:border-box;
    background:#f5f5f5;
}

.contents5-1{
    float:left;
    margin-top:6px;
}

.contents5-2{
    float:right;
}

.contents-heading.type03:after{
    content:"";
    display:block;
    width:64px;
    height:2px;
    background:#ff8b38;
    margin-top:27px;
    margin-bottom:25px;
}

.contents5-2-image{
    margin-right:-36px;
}

.contents6{
    height:592px;
    padding-top:103px;
    box-sizing:border-box;
}

.contents6-1{
    text-align:center;
}

.contents6-2{
    margin-top:81px;
}

.contents-heading2{
    font-family: 'Raleway', sans-serif;
    font-size:36px;
    color:#212121;
}

.contents-sub-heading2:before{
    content:"";
    display:inline-block;
    width:64px;
    height:2px;
    background:#ff8b38;
    margin-top:22px;
    margin-bottom:26px;
}

.contents6-2-list{
    text-align:center;
}

.contents-heading.type04{
    margin-top:25px;
    margin-bottom:24px;
}

.contents6-2-list{
    float:left;
    width:33.333%;
}

.contents7{
    height:883px;
    background:#f5f5f5;
    padding-top:103px;
    box-sizing:border-box;
}

.contents7-1{
    text-align:center;
}

/*
  contents7-2-1 박스 배치

  1. float, 상단기준 정렬
  2. position:absolute, 하단 기준 정렬
*/
.contents7-2-1{
    float:left;
    width:342px;
    position:absolute;
    bottom:0;
}

.contents7-2-1:nth-child(1){
    left:0;
}

.contents7-2-1:nth-child(2){
    left:379px;
}

.contents7-2-1:nth-child(3){
    right:0;
}

.contents7-2-1.contents-margin{
    /*margin-left:37px;*/
    /*margin-right:37px;*/
}

.contents7-2-1-cell-type01{
    background:#333;
    color:#fff;
    font-size:20px;
    font-weight:700;
    height:60px;
    border-bottom:1px solid #f5f5f5;
    box-sizing:border-box;
    padding-top:20px;
    text-align:center;
}

.contents7-2-1-cell-type02{
    background:#333;
    color:#fff;
    font-weight:700;
    text-align:center;
    box-sizing:border-box;
    padding-top:6px;
    height:151px;
}

.pay{
    font-family: 'Raleway', sans-serif;
}

.dollar{
    font-size:35px;
}

.pay-number{
    font-size:94px;
}

.pay-type{
    font-weight:600;
    font-style:italic;
    color:#fff;
    margin-top:17px;
    opacity:0.5;
}

.contents7-2-1-cell-type03{
    font-weight:700;
    color:#fff;
    text-align:center;
    background:#ff8b38;
}

.contents7-2-1-cell-type03 > .textbox{
    height:35px;
    padding-top:13px;
    box-sizing:border-box;
}

.contents7-2-1-cell-type03:after{
    content:"";
    display:block;
    width:100%;
    height:5px;
    background:#ff8b38;
}

.contents7-2-1-cell-type04{
    height:41px;
    border-top:1px solid #f5f5f5;
    background:#fff;
    text-align:center;
    text-transform:uppercase;
    line-height:41px;
}

.contents7-2{
    margin-top:80px;
    position:relative;
    height:497px;
}

.contents8{
    height:591px;
    padding-top:103px;
    box-sizing:border-box;
}

.contents8-1{
    text-align:center;
}

.description{
    width:273px;
    height:147px;
    background:url(../images/speech_balloon.png) no-repeat 0 0;
    font-style:italic;
    padding:21px 12px;
    line-height:1.3;
    box-sizing:border-box;
}

.customer{
    margin-top:8px;
}

.customer-image{
    float:left;
}

.customer-info{
    float:left;
    margin-top:14px;
    margin-left:15px;
}

.customer-name{
    font-size:20px;
    font-weight:700;
    color:#333;
    margin-bottom:7px;
}

.contents8-2-1:nth-child(1){
    float:left;
    margin-left:21px;
}

.contents8-2-1:nth-child(2){
    float:left;
    margin-left:120px;
    margin-right:120px;
}

.contents8-2-1:nth-child(3){
    float:left;
    margin-right:20px;
}

.contents8-2{
    margin-top:55px;
}

.contents9{
    height:320px;
    background:url(../images/contents9_bg.png) no-repeat 0 0;
    background-size:cover;
    padding-top:69px;
    box-sizing:border-box;
}

.contents9-1{
    text-align:center;
}

.contents-heading2.type-white{
    color:#fff;
}

.contents-sub-heading2.type-white{
    color:#fff;
}

.contents-sub-heading2.type-white:before{
    background:#fff;
}

.contents10{
    height:612px;
    padding-top:103px;
    box-sizing:border-box;
}

.contents10-1{
    text-align:center;
}

.btn-center{
    text-align:center;
}

.footer{
    background:#000;
    height:83px;
    padding-top:21px;
    box-sizing:border-box;
    text-align:center;
}

.footer-text{
    margin-top:12px;
}